@media(max-width: 1000px){
    .sliders-cont{
        align-items: flex-start;
        
    }

    .b-dots{
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .bnft-dots{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding-bottom: 64px;
    }

    .b-dot{
        width: 8px;
        height: 8px;
        background-color: #868889;
        border-radius: 100%;
        transition: all .2s ease-in-out;
    }

    .b-dot.active{
        width: 13px;
        height: 13px;
        background-color: #17171A;
    }

    .next--slide, .prev--slide{
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        font-size: 20px;
        color: white;
        border: 1px solid black !important;
        background-color: black;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    .next--slide{
        margin-left: 50px;
        transition: all .2s ease-in-out;
    }
    
    .prev--slide{
        margin-right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease-in-out;
    }

    .prev--slide.active{
        opacity: 1;
        pointer-events: all;
    }

    .next--slide.inactive{
        opacity: 0;
        pointer-events: none;
    }

    .next--slide:hover, .prev--slide:hover{
        background-color: white;
        color: black;
    }

    .thrd{
        display: none;
    }

    .benefit-txt{
        padding-left: 30px;
    }

    .cards--inner{
        transition: all .2s ease-in-out;
    }
}

@media(max-width: 768px){
    .thrd{
        display: block;
    }


    .cards-cont{
        margin: 12px 0;
        padding-top: 0;
    }

    .benefit-txt{
        padding-left: 20px;
        font-size: 32px;
        margin-top: 40px;
    }

    .benefits-cont{
        height: auto;
    }

}