
@media(max-width: 1000px){
    header .searchBtn{
        display: none;
    }

    header .register-container, .cart-container, .header-links-cont{
        display: none;
    }

    .register-mobile{
        background-color: none !important;
        border: none !important;
        color: black !important;
    }

    .cartMobile{
        background-color: none !important;
        border: none !important;
        color: black !important;
    }
    
    .searchMobile{
        background-color: none !important;
        border: none !important;
    }

    .closeSearch{
        background-color: none !important;
        border: none !important;
    }

    .burgerMenu{
        border: none;
    }

    .logoMobile a svg{
        width: 105px;
    }

    .logo{
        display: none;
    }

    .header-nav-cont{
        height: 50px;
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
    }

    .header-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-btns{
        gap: 0px;
    }

    .burgerMenuCont{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burgerMenu{
        width: 50px;
        height: 50px;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: transparent;
    }

    .bars{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5px;
    }

    .bar{
        width: 26px;
        border: 1px solid black;
    }

    .slider-mobile-cont{
        max-width: 1160px;
        height: 100%;
        background-color: #907547;
        display: flex;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .header-cont{
        display: none;
    }

    .header-cont-mobile{
        width: 100%;
        height: 60px;
        background-color: #907547;
        margin-top: 4px;
    }

    .top-fix{
        height: 50px;
    }

    .header-nav-cont{
        top: 0;
    }

    .slidesM{  
        display: flex;
        align-items: center;
        transform: translateX(0px);
        transition: all .5s ease-in-out;
    }

    .slideM{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-width: 100%;
        flex-shrink: 1;
    }

    .slideM p{
        color: white;
    }

    .cartMenu.maxWid{
        max-width: calc(100% - 50px);
    }

    .carrito-cont{
        padding: 0;
        height: 50px;
        padding: 10px;
    }

    .prevM, .nextM{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
    }

    .prevM:hover, .nextM:hover{
        color: rgb(0, 0, 0);
    }

    /* Menú mobile */

    .menu-mobile-cont{
        position: fixed;
        top: 0;
        width: 87%;
        height: 100%;
        background-color: white;
        z-index: 9999;
        box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 4px 0px 6px 0px rgba(0,0,0,0.3);
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none;
        transition: all .2s ease-in-out;
    }
    
    .menu-mobile{
        width: 100%;
        height: 80%;
    }

    .menu-mobile-cont.active{
        opacity: 1;
        transform: translateX(0);
        pointer-events: all;
    }

    .link-mobile{
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        justify-content: space-between;
        cursor: pointer;
    }

    .link-mobile.active{
        background-color: #B2B2B2;
    }

    .img-cont{
        background-image: url(../img/menu-mobile.avif);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-first{
        background-image: url(../img/menu-mobile1.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-scnd{
        background-image: url(../img/menu-mobile2.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-thrd{
        background-image: url(../img/menu-mobile3.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-frth{
        background-image: url(../img/menu-mobile4.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-fifth{
        background-image: url(../img/menu-mobile5.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-sixth{
        background-image: url(../img/menu-mobile6.png);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-seventh{
        background-image: url(../img/menu-mobile7.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-eigth{
        background-image: url(../img/menu-mobile8.webp);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .img-cont-nineth{
        background-image: url(../img/menu-mobile9.png);
        width: 25px;
        height: 15px;
        background-size: 25px 30px;
        background-position: bottom center;
        margin-left: 13px;
    }

    .logo-name{
        display: flex;
        font-weight: bold;
        font-size: 13px;
        gap: 13px;
    }

    .dropdown-arrow{
        background-color: transparent;
        border: none;
        margin-right: 13px;
    }

    .dropdown-arrow svg{
        width: 18px;
        height: 18px;
    }

    /* Menú Dropdown */

    .dropdownCont{
        position: fixed;
        width: calc(100% - 50px);
        height: 100%;
        background-color: #FAF9F8;
        top: 0;
        right: 0;
        display: block;
        box-shadow: -6px 0px 6px -5px rgba(0,0,0,0.3);
        -webkit-box-shadow: -6px 0px 6px -5px rgba(0,0,0,0.3);
        -moz-box-shadow: -6px 0px 6px -5px rgba(0,0,0,0.3);
        opacity: 0;
        transform: translateY(-100%);
        transition: all .2s ease-in-out;
        pointer-events: none;
    }

    .dropdownCont.active{
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    .dropdownLinks{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .linkItem{
        display: flex;
        flex-direction: column;
        width: calc(100% - 26px);
        margin: 0 auto;
        height: 50px;
        border-bottom: 1px solid rgb(172, 172, 172);
        justify-content: flex-end;
        align-items: flex-start;
        font-weight: bold;
        font-size: 13px;
        padding: 13px;
    }

    .registerMenuMobile{
        position: absolute;
        max-width: 260px;
        height: auto;
        background-color: rgb(255, 255, 255);
        top: 50px;
        right: 0;
        z-index: 9999;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: all .2s ease-in-out;
    }

    .registerMenuMobile.active{
        opacity: 1;
        pointer-events: all;
    }

    .loginDivisor{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .loginBtn{
        margin-top: 10px;
    }

    .searchContMobile{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 99999;
        display: none;
    }

    .searchContMobile.active{
        display: block;
    }

    .searching{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .top-search{
        display: flex;
        justify-content: space-between;
        height: 48px;
        align-items: center;
        font-size: 12px;
    }

    .top-search button{
        padding-right: 13px;
        font-size: 20px;
        background-color: transparent;
    }

    .searchbar{
        position: relative;
        display: flex;
        width: 100%;
        height: 40px;
        border: 1px solid black;
        border-radius: 10px;
        align-items: center;
        justify-items: center;
        padding: 10px;
    }

    .searchbar input{
        border: transparent;
        width: 100%;
        height: 100%;
        padding-left: 25px;
    }

    .searchbar input:focus{
        outline: none;
    }

    .searchIcon{
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-40%);
        width: 20px;
    }
}

@media(min-width:1001px){
    header .searchMobile{
        display: none;
    }

    header .register-mobile{
        display: none;
    }

    header .cartMobile{
        display: none;
    }

    .slider-top-mobile{
        display: none;
    }

    .burgerMenuCont{
        display: none;
    }

    .header-cont-mobile{
        display: none;
    }

    .menu-mobile-cont{
        display: none;
    }

    .registerMenuMobile{
        display: none;
    }

    .searchContMobile{
        display: none;
    }
}