::selection{
    background-color: black;
    color: white;
}


.hero-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-bg{
    width: 90%;
    height: 386px;
    border-radius: 30px;
    background-image: url(../img/Main-Banner1.avif);
    background-position: center;
    background-size: cover;
    transition: all .2s ease-in-out;
}

.hero-bg.scnd{
    background-image: url(../img/Main-Banner2.avif);
}

.hero-dots{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background-color: #BFBFBF;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.hero-dot:hover{
    background-color: #404040;
}

.hero-dot.active{
    background-color: #404040;
}

.hero-banner-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-banner{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    transition: all .2s ease-in-out;
}

.exclusivo{
    font-size: 20px;
    padding: 5px 7px;
    font-weight: 700;
    color: white;
    background-color: #000000;
    border-radius: 15px;
}

.hero-span{
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-terms{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text{
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-shadow: none;
    transition: all .2s ease-in-out;
}

.h-2{
    color: white;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.6);
    font-size: 40px;
}

.hero-scnd{
    align-items: flex-start;
    gap: 30px;
}

.columnas{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff87;
    gap: 20px;
    padding: 10px;
}

.descuentos{
    font-weight: 700;
    color: white;
    font-size: 26px;
}

.bajada{
    color: white;
    font-size: 22px;
}

.separador{
    height: 100%;
    border: 1px solid black;
}

.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
}

.hero-pedido-btn{
    padding: 12px 24px;
    background-color: #17171A;
    color: white;
    border: 1px solid #17171A;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hero-pedido-btn:hover{
    background-color: white;
    color: black;
}

.hero-banner.inactive{
    display: none;
}

@media(max-width: 1000px){
    .hero-bg{
        width: 98%;
        height: 502px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/Main-Banner1-mobile.avif);
        margin-top: 10px;
    }

    .hero-text{
        font-size: 30px;
        text-align: center;
    }

    .hero-banner{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .hero-first{
        justify-content: end;
    }

    .hero-pedido-btn{
        margin-bottom: 40px;
    }

    .exclusivo{
        margin-bottom: 200px;
    }

    .hero-span{
        margin-bottom: 10px;
    }

    .hero-banner-cont{
        justify-content: flex-end;
    }

    .hero-bg.scnd{
        background-image: url(../img/Main-Banner2-mobile.avif);
    }

    .hero-pedido-btn{
        width: 100%;
    }

    .hero-scnd{
        gap: 20px;
    }

    .columnas{
        margin-top: 120px;
    }

    .descuentos{
        font-size: 22px;
        color: black;
    }

    .bajada{
        color: black;
        font-size: 14px;
    }

    .promotion-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 464px;
    }

    .promotion-bg{
        width: 95% !important;
        background-image: url(../img/nespresso-promotion-mobile.avif) !important;
    }

    .promotion-txt-2{
        margin: 10px;
    }

}


/* ======================================================== */

.nespresso-promotion{
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion-cont{
    max-width: 1160px;
    width: 100%;
}

.promotion-bg{
    width: 100%;
    height: 384px;
    background-image: url(../img/nespresso-promotion.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.promotion-txt{
    font-size: 14px;
    padding: 8px 0px;
}

.promotion-txt-2{
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 24px;
}

.promotion-txt-2 strong{
    font-weight: 700;
}

.canjear-btn{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid #17171A;
    background-color: #17171A;
    color: white;
    gap: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.canjear-btn:hover{
    background-color: white;
    color: #17171A;
}

/* ================================================ */

.recomendados{
    width: 100%;
    overflow: hidden;
}

.rec-inner{
    width: 1208px;
    margin: 0 auto;
}

.slider-container{
    width: 100%;
    position: relative;
}

.slider-wrapper{
    width: max-content;
}

.slider-packs{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 40px;
    transition: all .2s ease-in-out;
}

.slide-pack{
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    transition: all .2s ease-in-out;
}

.top-pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-pack img{
    height: 160px;
}

.bottom-pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 32px 32px;
    gap: 6px;
}

.slide-txt{
    font-size: 24px;
    font-weight: 700;
}

.slide-txt-2{
    font-size: 14px;
    margin-bottom: 20px;
}

.mas-info{
    background-color: transparent;
    border: none;
    padding: 6px 6px 8px;
    color: #876C43;
    font-size: 19px;
    font-weight: 700;
}

.mas-info span{
    border-bottom: 1px solid #876C43;
}

.slide-price{
    font-size: 20px;
    font-weight: 700;
    color: #257A57;
}

.slide-sleeves{
    font-size: 14px;
    color: #6F6F70;
}

.addCartBtn{
    background-color: #257A57;
    border: 1px solid #257A57;
    padding: 6px 24px;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.addCartBtn:hover{
    background-color: white;
    color: #257A57;
}

.slider-nav-mobile{
    display: none;
}

.packs-recomendados{
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
}

.link-slider{
    padding-left: 10px;
    padding-bottom: 10px;
}

.link-slider a{
    color: #876C43;
    border-bottom: 1px solid #876C43;
    font-weight: 700;
    font-size: 19px;
}

.nav-desktop{
    width: 100%;
}

.prevSlideBtn-desk, .nextSlideBtn-desk{
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    color: white;
    background-color: #17171A;
    border: 1px solid #17171A;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.prevSlideBtn-desk.hidden{
    opacity: 0;
    pointer-events: none;
}

.nextSlideBtn-desk.hidden{
    opacity: 0;
    pointer-events: none;
}

.prevSlideBtn-desk{
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
}

.nextSlideBtn-desk{
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}

.prevSlideBtn-desk:hover, .nextSlideBtn-desk:hover{
    background-color: white;
    color: #17171A;
}

.slider-container-wrapper{
    position: relative;
}

.desk-dots{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.desk-dot{
    width: 10px;
    height: 10px;
    background-color: #8B8B8C;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.desk-dot.active{
    width: 13px;
    height: 13px;
    background-color: #17171A;
}

.desk-dot:hover{
    background-color: #17171A;
}

@media(max-width: 1000px){
    .slide-pack{
        flex: 0 0 auto;
        width: 279px;
        scroll-snap-align: center;
        text-align: center;
    }

    .slider-packs{
        padding-left: calc((100% - 1246px) / 2 + 100px);
        padding-right: calc((100% - 1246px) / 2 + 100px);
        width: max-content;
        gap: 20px;
    }

    .slider-container{
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
    }

    .slider-container::-webkit-scrollbar{
        display: none;
    }

    .rec-inner{
        width: 100%;
        overflow: hidden;
    }

    .slide-txt{
        font-size: 20px;
    }

    .slide-txt-2{
        font-size: 16px;
    }

    .slider-nav-mobile{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .prevSlideBtn-mob, .nextSlideBtn-mob{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid transparent;
        transition: all .2s ease-in-out;
        color: #17171A;
    }

    .nextSlideBtn-mob.hidden{
        opacity: 0;
        pointer-events: none;
    }

    .prevSlideBtn-mob.hidden{
        opacity: 0;
        pointer-events: none;
    }

    .prevSlideBtn-mob:hover, .nextSlideBtn-mob:hover{
        background-color: #17171A;
        border: 1px solid #17171A;
        color: white;
    }

    .packs-recomendados{
        font-size: 24px;
    }

    .nav-desktop{
        display: none;
    }

    .prevSlideBtn-desk, .nextSlideBtn-desk{
        display: none;
    }

}