::selection{
    background-color: black;
    color: white;
}


.hero-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-bg{
    width: 90%;
    height: 386px;
    border-radius: 30px;
    background-image: url(../img/Main-Banner1.avif);
    background-position: center;
    background-size: cover;
    transition: all .2s ease-in-out;
}

.hero-bg.scnd{
    background-image: url(../img/Main-Banner2.avif);
}

.hero-dots{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.hero-dot{
    width: 15px;
    height: 15px;
    background-color: #BFBFBF;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.hero-dot:hover{
    background-color: #404040;
}

.hero-dot.active{
    background-color: #404040;
}

.hero-banner-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-banner{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    transition: all .2s ease-in-out;
}

.exclusivo{
    font-size: 20px;
    padding: 5px 7px;
    font-weight: 700;
    color: white;
    background-color: #000000;
    border-radius: 15px;
}

.hero-span{
    font-size: 20px;
    margin-bottom: 30px;
}

.hero-terms{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text{
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-shadow: none;
    transition: all .2s ease-in-out;
}

.h-2{
    color: white;
    text-shadow: 0px 0px 12px rgba(0,0,0,0.6);
    font-size: 40px;
}

.hero-scnd{
    align-items: flex-start;
    gap: 30px;
}

.columnas{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ffffff87;
    gap: 20px;
    padding: 10px;
}

.descuentos{
    font-weight: 700;
    color: white;
    font-size: 26px;
}

.bajada{
    color: white;
    font-size: 22px;
}

.separador{
    height: 100%;
    border: 1px solid black;
}

.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
}

.hero-pedido-btn{
    padding: 12px 24px;
    background-color: #17171A;
    color: white;
    border: 1px solid #17171A;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.hero-pedido-btn:hover{
    background-color: white;
    color: black;
}

.hero-banner.inactive{
    display: none;
}

@media(max-width: 1000px){
    .hero-bg{
        width: 98%;
        height: 502px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/Main-Banner1-mobile.avif);
        margin-top: 10px;
    }

    .hero-text{
        font-size: 30px;
        text-align: center;
    }

    .hero-banner{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .hero-first{
        justify-content: end;
    }

    .hero-pedido-btn{
        margin-bottom: 40px;
    }

    .exclusivo{
        margin-bottom: 200px;
    }

    .hero-span{
        margin-bottom: 10px;
    }

    .hero-banner-cont{
        justify-content: flex-end;
    }

    .hero-bg.scnd{
        background-image: url(../img/Main-Banner2-mobile.avif);
    }

    .hero-pedido-btn{
        width: 100%;
    }

    .hero-scnd{
        gap: 20px;
    }

    .columnas{
        margin-top: 120px;
    }

    .descuentos{
        font-size: 22px;
        color: black;
    }

    .bajada{
        color: black;
        font-size: 14px;
    }

    .promotion-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 464px;
    }

    .promotion-bg{
        width: 95% !important;
        background-image: url(../img/nespresso-promotion-mobile.avif) !important;
    }

    .promotion-txt-2{
        margin: 10px;
    }

}


/* ======================================================== */

.nespresso-promotion{
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotion-cont{
    max-width: 1160px;
    width: 100%;
}

.promotion-bg{
    width: 100%;
    height: 384px;
    background-image: url(../img/nespresso-promotion.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.promotion-txt{
    font-size: 14px;
    padding: 8px 0px;
}

.promotion-txt-2{
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 24px;
}

.promotion-txt-2 strong{
    font-weight: 700;
}

.canjear-btn{
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid #17171A;
    background-color: #17171A;
    color: white;
    gap: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.canjear-btn:hover{
    background-color: white;
    color: #17171A;
}

/* ================================================ */

.packs-recomendados{
    width: 100%;
    height: auto;
}

.inner{
    width: auto;
}

.slider-container{
    position: relative;
    height: auto;
    overflow: hidden;
    width: 100%;
}


.packs-slider{
    overflow-x: scroll;
    display: flex;
    gap: 16px;
    padding: 48px 48px 20px 48px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.pack-slide{
    flex: 0 0 279px;
    height: 525px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all .2s ease-in-out;
}

.packs-slider::-webkit-scrollbar{
    display: none;
}

.slider-count{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slideBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    transition: all .2s ease-in-out;
    color: black;
}

.slideBtn:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}

.prevSlideBtn.inactive, .nextSlideBtn.inactive{
    opacity: 0;
    pointer-events: none;
}

.top-packs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.packs-text{
    font-size: 30px;
}

.pack-link{
    font-size: 19px;
    margin-bottom: 24px;
    font-weight: 700;
    color: #876C43;
}

.pack-link span{
    border-bottom: solid 1px #876C43;
}

.top-slide img{
    object-fit: contain;
    height: 160px;
}

.bottom-slide{
    padding: 8px 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.p-title{
    font-size: 20px;
    text-align: center;
}

.p-txt{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.moreInfo{
    text-align: center;
    background-color: transparent;
    border: none;
    font-size: 19px;
    font-weight: 700;
    padding: 6px 6px 8px;
    margin-bottom: 20px;
}

.moreInfo a{
    color: #876C43;
    border-bottom: 1px solid #876C43;
}

.price{
    color: #257A57;
    font-weight: 700;
    font-size: 20px;
}

.sleeves{
    font-size: 14px;
    color: #6F6F70;
}

.addCart{
    padding: 10px 24px;
    font-size: 20px;
    border: 1px solid #257A57;
    background-color: #257A57;
    color: white;
    border-radius: 25px;
    height: 80px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.addCart:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

.slider-count-desk{
    display: none;
}