::selection{
    background-color: black;
    color: white;
}

.hero-cont{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.main-hero{
    width: 100%;
    max-width: 1920px;
    height: 404px;
    background-image: url(../img/Cyber-Banner2.avif);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px){
    .main-hero{
        background-image: url(../img/Cyber-Banner-Mobile2.avif);
        background-position: center 40%;
    }
}

.hero-text-cont{
    max-width: 1160px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text-cont h2{
    font-size: 38px;
    font-weight: 700;
    margin-top: 40px;
}

.text-hero{
    font-size: 20px;
    margin-top: 30px;
}

.hero-btn{
    width: 200px;
    height: 50px;
    border: transparent;
    background-color: #6834CC;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

.hero-btn:hover{
    background-color: white;
    border: 1px solid black !important;
    color: black;
}

.terminos{
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.terminos:hover{
    border-bottom: 2px solid black;
}

.hero-bottom{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1000px){
    .main-hero{
        height: 500px;
        background-position: center;
    }

    .hero-text-cont{
        align-items: center;
        justify-content: space-between;
    }

    .hero-text-cont h2{
        margin-top: 80px;
        font-size: 30px;
        text-align: center;
    }

    .hero-bottom{
        margin-bottom: 20px;
        align-items: center;
    }

    .hero-btn{
        width: 90%;
    }

    .caps{
        display: none;
    }
}


/* ======================================================== */

.benefits-cont{
    max-width: 1905px;
    width: 100%;
    height: 773px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #FAF9F8;
}

.sliders-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.benefit-txt{
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 32px;
}

.cards-cont{
    display: flex;
    align-items: center;
    padding-top: 48px;
    margin: 12px;
    overflow: hidden;
}

.card-bnft{
    width: 391px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 64px;
}

.card-img{
    border-radius: 10px;
    margin-bottom: 16px;
}

.card-title{
    font-weight: 500;
    margin-bottom: 16px;
}

.card-p{
    margin-bottom: 16px;
}

.bnft-btn-cont{
    display: flex;
    align-items: flex;
}

.bnft-btn{
    background-color: #6834CC;
    color: white;
    border: 1px solid #6834CC;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.bnft-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cards--inner{
    display: flex;
    width: max-content;
}

.bnft-dots{
    display: none;
}

/* ================================================ */

.packs-recomendados{
    width: 100%;
    height: auto;
}

.inner{
    width: auto;
}

.slider-container{
    height: auto;
    overflow: hidden;
    width: 100%;
}


.packs-slider{
    overflow-x: scroll;
    display: flex;
    gap: 16px;
    padding: 48px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.pack-slide{
    flex: 0 0 279px;
    height: 525px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    scroll-snap-align: center;
}

.packs-slider::-webkit-scrollbar{
    display: none;
}

.slider-count{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slideBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    transition: all .2s ease-in-out;
}

.slideBtn:hover{
    background-color: black;
    border: 1px solid black;
    color: white;
}