.hero-cont{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.main-hero{
    width: 100%;
    max-width: 1920px;
    height: 404px;
    background-image: url(../img/Cyber-Banner1.avif);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px){
    .main-hero{
        background-image: url(../img/Cyber-Banner-Mobile1.avif);
        background-position: center 40%;
    }
}

.hero-text-cont{
    max-width: 1160px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text-cont h2{
    font-size: 38px;
    font-weight: 700;
    margin-top: 40px;
}

.text-hero{
    font-size: 20px;
    margin-top: 30px;
}

.hero-btn{
    width: 200px;
    height: 50px;
    border: transparent;
    background-color: #6834CC;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all .2s ease-in-out;
}

.hero-btn:hover{
    background-color: white;
    border: 1px solid black !important;
    color: black;
}

.terminos{
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.terminos:hover{
    border-bottom: 2px solid black;
}

@media (max-width: 1000px){
    .main-hero{
        height: 500px;
    }

    .hero-text-cont{
        align-items: center;
    }

    .hero-text-cont h2{
        margin-top: 0px;
        font-size: 30px;
        text-align: center;
    }

    .text-hero{
        margin-top: 220px;
    }

    .hero-btn{
        width: 90%;
    }

    .caps{
        display: none;
    }
}


/* ======================================================== */

.benefits-cont{
    max-width: 1905px;
    width: 100%;
    height: 773px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.sliders-cont{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.benefit-txt{
    font-size: 38px;
    font-weight: 300;
    padding-bottom: 32px;
}

.cards-cont{
    display: flex;
    align-items: center;
    padding-top: 48px;
    margin: 12px;
    overflow: hidden;
}

.card-bnft{
    width: 391px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 64px;
}

.card-img{
    border-radius: 10px;
    margin-bottom: 16px;
}

.card-title{
    font-weight: 500;
    margin-bottom: 16px;
}

.card-p{
    margin-bottom: 16px;
}

.bnft-btn-cont{
    display: flex;
    align-items: flex;
}

.bnft-btn{
    background-color: #6834CC;
    color: white;
    border: 1px solid #6834CC;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.bnft-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.cards--inner{
    display: flex;
    width: max-content;
}

.bnft-dots{
    display: none;
}