@media (max-width: 1000px){
    .pack{
        width: 344px;
        height: 492px;
        justify-content: end;
    }

    .packs-cont::before{
        width: 20px;
    }

    .packs-cont::after{
        width: 20%;
    }

    .dot-mobile{
        display: block;
    }
}

@media (max-width: 768px){
    .pack{
        width: 279px;
        height: 525px;
        align-items: center;
    }

    .packs-slider{
        gap: 20px;
    }

    .pack-top img{
        padding-top: 8px;
    }

    .pack-bottom{
        gap: 20px;
    }
    
    .prev-p{
        left: 10px;
        top: 100%;
        transform: translateY(-80%);
    }

    .next-p{
        top: 100%;
        transform: translateY(-80%);
    }
}