@media (min-width: 800px){
    .pack-slide{
        flex: 1 0 344px;
    }

    .packs-slider{
        gap: 40px;
        padding: 64px 350px 16px;
    }

    .packs-slider-cont{
        width: 100%;
        overflow: visible;
    }

    .top-packs{
        text-align: start;
        align-items: start;
    }

    .top-packs-cont{
        width: 1160px;
        margin: 0 auto;
    }

    .addCart{
        height: auto;
    }

    .pack-slide{
        height: auto;
    }
}