@media (min-width: 800px){
    .pack-slide{
        flex: 1 0 344px;
    }

    .packs-slider{
        gap: 40px;
        padding: 64px 350px 16px;
    }

    .top-packs{
        text-align: start;
        align-items: start;
    }

    .top-packs-cont{
        width: 1160px;
        margin: 0 auto;
    }

    .addCart{
        height: auto;
    }

    .pack-slide{
        height: auto;
        width: 360px;
    }

    .slider-container{
        scrollbar-width: none;
        position: relative;
        width: 100%;
        overflow: visible;
    }

    .slider-count{
        display: none;
    }

    .slider-container::-webkit-scrollbar{
        display: none;
    }

    /* .slider-inner{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 1208px;
    } */

    .slider-count-inner{
        max-width: 1208px;
        width: 100%;
        position: relative;
    }

    .packs-slider-cont{
        width: 100vw;
        /* max-width: 100%; */

        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        max-width: 100%;
    }

    .packs-slider-cont::-webkit-scrollbar{
        display: none;
    }

    .packs-slider{
        width: max-content;
        padding-left: calc((100vw - 1208px) / 2 + 20px);
        padding-right: calc((100vw - 1208px) / 2 + 20px);
        overflow: visible;
    }

    .slider-count-desk{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desk-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
    }

    .desk-dot{
        width: 32px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .desk-d{
        display: flex;
        width: 10px;
        height: 10px;
        background-color: #8B8B8C;
        border-radius: 100%;
        transition: all .2s ease-in-out;
    }

    .desk-dot:hover{
        .desk-d{
            background-color: #17171A;
        }
        
    }

    .desk-d.active{
        width: 13px;
        height: 13px;
        background-color: #17171A;
    }

    .slideBtn-desk{
        background-color: #17171A;
        border: 1px solid #17171A;
        color: white;
        transition: all .2s ease-in-out;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .prevSlideBtn-desk{
        position: absolute;
        left: 4px;
        bottom: calc((451px + 35px + 16px) / 2);
        /* transform: (translateY(-50%)); */
    }
    
    .nextSlideBtn-desk{
        position: absolute;
        right: -5px;
        bottom: calc((451px + 35px + 16px) / 2);
        /* transform: translateY(-50%); */
    }

    .slideBtn-desk:hover{
        background-color: white;
        color: #17171A;
    }
}